body {
    font-family: Century Gothic;
}

.image {
    display: flex;
    align-items: center;
}

.txt {
    flex: 1;
}

h1 {
    font-size: 50px;
}

hr{
    height: 3px;
    border-color: black;
    color: black;
    background-color: black;
}

img {
    display: block;
    height : 300px;
    border-radius: 40%;
    margin-left : 100px;
    margin-right: 550px;
}

.texte-droite {
    margin-left: 1000px;
}


.redroite {
    font-size : 22px; 
    margin-left: 70px;
}

.menu {
    width: 80%;
    background-color: rgb(117, 177, 233);
    padding: 20px;
    max-width: 500px;
  }

.droite {
    font-size : 30px; 
    margin-left: 40px;
}

.lol {
    font-size: 21px;

}
